In [74]:
import pandas as pd
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.model_selection import cross_validate
from sklearn.inspection import permutation_importance
from sklearn.model_selection import train_test_split

In [75]:
data_path = '/Users/sola/Downloads/open/'
train = pd.read_csv(data_path + 'train.csv')
test = pd.read_csv(data_path + 'test.csv')
submission = pd.read_csv(data_path + 'sample_submission.csv')

In [76]:
train = train.fillna(0)
test = test.fillna(0)

In [77]:
# 모든 값이 0인 피처 지울거임..
wrong = []
for i in range(1,2876):
    ch = 'X_'+str(i)
    if train[ch].mean() == 0:
        wrong.append(ch)

print(wrong)
print(len(wrong))

['X_3', 'X_6', 'X_14', 'X_70', 'X_74', 'X_75', 'X_76', 'X_77', 'X_78', 'X_79', 'X_82', 'X_83', 'X_84', 'X_85', 'X_142', 'X_190', 'X_191', 'X_192', 'X_193', 'X_194', 'X_195', 'X_232', 'X_234', 'X_235', 'X_259', 'X_260', 'X_315', 'X_319', 'X_322', 'X_323', 'X_324', 'X_327', 'X_328', 'X_329', 'X_330', 'X_375', 'X_376', 'X_377', 'X_378', 'X_427', 'X_466', 'X_467', 'X_505', 'X_508', 'X_558', 'X_561', 'X_567', 'X_583', 'X_617', 'X_620', 'X_631', 'X_633', 'X_634', 'X_636', 'X_638', 'X_639', 'X_640', 'X_641', 'X_642', 'X_672', 'X_673', 'X_676', 'X_691', 'X_692', 'X_695', 'X_715', 'X_729', 'X_732', 'X_743', 'X_749', 'X_759', 'X_760', 'X_761', 'X_764', 'X_776', 'X_777', 'X_778', 'X_836', 'X_843', 'X_844', 'X_849', 'X_859', 'X_886', 'X_887', 'X_888', 'X_889', 'X_934', 'X_935', 'X_936', 'X_937', 'X_992', 'X_1020', 'X_1021', 'X_1022', 'X_1023', 'X_1024', 'X_1025', 'X_1070', 'X_1092', 'X_1119', 'X_1137', 'X_1146', 'X_1206', 'X_1216', 'X_1219', 'X_1248', 'X_1249', 'X_1250', 'X_1251', 'X_1252', 'X_1253', 'X_1255', 'X_1293', 'X_1298', 'X_1309', 'X_1311', 'X_1312', 'X_1314', 'X_1316', 'X_1317', 'X_1318', 'X_1319', 'X_1320', 'X_1361', 'X_1362', 'X_1363', 'X_1364', 'X_1367', 'X_1392', 'X_1393', 'X_1394', 'X_1395', 'X_1396', 'X_1399', 'X_1426', 'X_1457', 'X_1487', 'X_1502', 'X_1503', 'X_1504', 'X_1522', 'X_1531', 'X_1537', 'X_1571', 'X_1572', 'X_1573', 'X_1574', 'X_1575', 'X_1576', 'X_1577', 'X_1578', 'X_1579', 'X_1580', 'X_1581', 'X_1582', 'X_1644', 'X_1645', 'X_1688', 'X_1689', 'X_1692', 'X_1693', 'X_1702', 'X_1722', 'X_1723', 'X_1724', 'X_1754', 'X_1760', 'X_1766', 'X_1772', 'X_1778', 'X_1784', 'X_1790', 'X_1796', 'X_1802', 'X_1808', 'X_1828', 'X_1835', 'X_1836', 'X_1837', 'X_1838', 'X_1839', 'X_1840', 'X_1841', 'X_1842', 'X_1844', 'X_1845', 'X_1846', 'X_1847', 'X_1848', 'X_1851', 'X_1852', 'X_1869', 'X_1870', 'X_1871', 'X_1872', 'X_2052', 'X_2053', 'X_2054', 'X_2055', 'X_2420', 'X_2462', 'X_2628', 'X_2629', 'X_2630', 'X_2631', 'X_2632', 'X_2633', 'X_2634', 'X_2635', 'X_2636', 'X_2637', 'X_2638', 'X_2639', 'X_2640', 'X_2641', 'X_2642', 'X_2643', 'X_2644', 'X_2645', 'X_2646', 'X_2647', 'X_2648', 'X_2649', 'X_2650', 'X_2651', 'X_2652', 'X_2653', 'X_2654', 'X_2655', 'X_2656', 'X_2657', 'X_2658', 'X_2659', 'X_2660', 'X_2661', 'X_2662', 'X_2663', 'X_2664', 'X_2665', 'X_2666', 'X_2667', 'X_2668', 'X_2669', 'X_2670', 'X_2671', 'X_2672', 'X_2673', 'X_2674', 'X_2675', 'X_2676', 'X_2677', 'X_2678', 'X_2679', 'X_2680', 'X_2681', 'X_2682', 'X_2683', 'X_2684', 'X_2685', 'X_2686', 'X_2687', 'X_2688', 'X_2689', 'X_2690', 'X_2691', 'X_2692', 'X_2693', 'X_2694', 'X_2695', 'X_2696', 'X_2697', 'X_2698', 'X_2699', 'X_2733', 'X_2775', 'X_2838', 'X_2844', 'X_2872', 'X_2873', 'X_2874', 'X_2875']
281

In [78]:
train = train.drop(wrong, axis=1)
test = test.drop(wrong, axis=1)

train = train.drop(['TIMESTAMP','PRODUCT_ID'], axis=1)
test = test.drop(['TIMESTAMP','PRODUCT_ID'], axis=1)

In [79]:
train

,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_1,X_2,X_4,X_5,X_7,X_8,...,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871
0,1,0.533433,T050304,A_31,0.0,0.0,0.0,0.0,0.0,0.0,...,189.0,383.0,368.296296,353.0,39.34,40.89,32.56,34.09,77.77,0.0
1,2,0.541819,T050307,A_31,0.0,0.0,0.0,0.0,0.0,0.0,...,185.6,383.0,367.735849,353.0,38.89,42.82,43.92,35.34,72.55,0.0
2,1,0.531267,T050304,A_31,0.0,0.0,0.0,0.0,0.0,0.0,...,165.5,383.0,367.320755,353.0,39.19,36.65,42.47,36.53,78.35,0.0
3,2,0.537325,T050307,A_31,0.0,0.0,0.0,0.0,0.0,0.0,...,165.8,384.0,369.188679,353.0,37.74,39.17,52.17,30.58,71.78,0.0
4,1,0.531590,T050304,A_31,0.0,0.0,0.0,0.0,0.0,0.0,...,182.6,383.0,367.351852,352.0,38.70,41.89,46.93,33.09,76.97,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,1,0.526546,T100306,T_31,2.0,95.0,45.0,10.0,50.0,10.0,...,0.0,0.0,0.000000,0.0,0.00,0.00,0.00,0.00,0.00,0.0
594,0,0.524022,T050304,A_31,0.0,0.0,0.0,0.0,0.0,0.0,...,168.7,384.0,369.811321,353.0,49.47,53.07,50.89,55.10,66.49,1.0
595,0,0.521289,T050304,A_31,0.0,0.0,0.0,0.0,0.0,0.0,...,156.6,383.0,367.018868,352.0,0.00,0.00,0.00,0.00,0.00,1.0
596,1,0.531375,T100304,O_31,40.0,94.0,45.0,11.0,45.0,10.0,...,0.0,0.0,0.000000,0.0,0.00,0.00,0.00,0.00,0.00,0.0
597,1,0.533702,T100306,O_31,21.0,87.0,45.0,10.0,61.0,10.0,...,0.0,0.0,0.000000,0.0,0.00,0.00,0.00,0.00,0.00,0.0

In [80]:
test

,LINE,PRODUCT_CODE,X_1,X_2,X_4,X_5,X_7,X_8,X_9,X_10,...,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871
0,T100306,T_31,2.0,94.0,45.0,10.0,51.0,10.0,52.0,2.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,T100304,T_31,2.0,93.0,45.0,11.0,45.0,10.0,31.0,2.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,T100304,T_31,2.0,95.0,45.0,11.0,45.0,10.0,31.0,2.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,T010305,A_31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,183.8,467.0,444.192308,423.0,0.0,0.0,0.0,0.0,0.0,0.0
4,T010306,A_31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,179.7,465.0,443.211539,423.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,T100306,T_31,2.0,91.0,45.0,10.0,51.0,10.0,52.0,2.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
306,T100304,T_31,2.0,96.0,45.0,11.0,45.0,10.0,31.0,2.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
307,T100306,T_31,2.0,91.0,45.0,10.0,50.0,10.0,52.0,2.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
308,T100306,T_31,2.0,95.0,45.0,10.0,51.0,10.0,52.0,2.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
309,T100306,T_31,2.0,87.0,45.0,10.0,51.0,10.0,52.0,2.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.ensemble import RandomForestClassifier

# 수치형으로 변환
qual_col = ['LINE', 'PRODUCT_CODE']

for i in qual_col:
    le = LabelEncoder()
    le = le.fit(train[i])
    train[i] = le.transform(train[i])

    for label in np.unique(test[i]):
        if label not in le.classes_:
            le.classes_ = np.append(le.classes_, label)
    test[i] = le.transform(test[i])
print('Done.')

Done.

In [82]:
train_x = train.drop(['Y_Class', 'Y_Quality'], axis=1)
y = train['Y_Class']

X_train, X_valid, y_train, y_valid = train_test_split(train_x, y, test_size=0.3, random_state=37)

In [98]:
from sklearn.ensemble import RandomForestClassifier

feat_labels = X_train.columns

rf = RandomForestClassifier(n_estimators = 1000, random_state = 0, n_jobs = -1)

rf.fit(X_train, y_train)
importances = rf.feature_importances_

# argsort : 리스트 인덱스의 정렬됐을 때의 인덱스 값 반환, [::-1] : 뒤집기
indices = np.argsort(importances)[::-1]

# for i in range(X_train.shape[1]):
	# print(feat_labels[indices[i]], importances[indices[i]])

#상위20개만...
a=[]
for i in range(100):
    a.append(feat_labels[indices[i]])
print(a)

['X_718', 'X_1118', 'X_1405', 'X_73', 'X_1774', 'X_2700', 'X_665', 'X_2017', 'X_1945', 'X_1091', 'X_121', 'X_1339', 'X_2701', 'X_1485', 'X_1211', 'X_1617', 'X_368', 'X_318', 'X_1501', 'X_462', 'X_1703', 'X_1198', 'X_130', 'X_367', 'X_1083', 'X_374', 'X_720', 'X_1428', 'X_258', 'X_1834', 'X_932', 'X_1518', 'X_120', 'X_2841', 'X_266', 'X_698', 'X_373', 'X_1344', 'X_257', 'X_256', 'X_1107', 'X_1500', 'X_240', 'X_1423', 'X_1560', 'X_2023', 'X_267', 'X_1548', 'X_452', 'X_1517', 'X_2466', 'X_1010', 'X_265', 'X_1056', 'X_717', 'X_1108', 'X_1032', 'X_1421', 'X_1104', 'X_964', 'X_1569', 'X_1123', 'X_608', 'X_899', 'X_662', 'X_1145', 'X_2467', 'X_1474', 'X_1833', 'X_1665', 'X_855', 'X_1112', 'X_1049', 'X_1636', 'X_422', 'X_856', 'X_1475', 'X_243', 'X_1330', 'X_1012', 'X_1214', 'X_907', 'X_835', 'X_965', 'X_1486', 'X_2846', 'X_1110', 'X_1321', 'X_482', 'X_1073', 'X_1161', 'X_556', 'X_531', 'X_960', 'X_103', 'X_1179', 'X_1288', 'X_645', 'X_1473', 'X_961']

In [99]:
train_x = train_x[a]
y = train['Y_Class']
test_x = test[a]

X_train, X_valid, y_train, y_valid = train_test_split(train_x, y, test_size=0.3, random_state=37)

rf.fit(X_train, y_train)

from sklearn.metrics import accuracy_score

prediction = rf.predict(X_valid)

rf.score(X_valid, y_valid)

0.8

In [100]:
RF = RandomForestClassifier(n_jobs = -1 ,random_state=37)

In [101]:
RF.fit(train_x, y)
preds = RF.predict(test_x)

In [102]:
preds

array([1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 2, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 2, 0, 2, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 2, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 1, 1, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 2, 2, 2, 2, 2, 2,
       2, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1])

In [103]:
submit = pd.read_csv('/Users/sola/Downloads/open/sample_submission.csv')

In [104]:
submit['Y_Class'] = preds

In [105]:
submit.to_csv('/Users/sola/Downloads/open/baseline_submission9.csv', index=False)

피쳐중요도가 상위 20개만 골라서 돌려봄, 랜덤포레스트를 이용함
submission7
-> 정확도 0.5966049383 129위

피쳐중요도가 상위 500개만 골라서 돌려봄, 랜덤포레스트를 이용함
submission8
-> 정확도 0.5197085927
아니 왜내려가...? 검증데이터에서는 올라갔는데...

피쳐중요도가 상위 100개만 골라서 돌려봄, 랜덤포레스트를 이용함
submission9
-> 정확도 0.6189786059
앙 기모리!!!!! 드디어 0.6대로 들어갔다~!!!!